{
  "extends": ["@mskelton", "@mskelton/eslint-config/typescript"],
  "overrides": [
    {
      "files": ["app/**"],
      "extends": "@mskelton/eslint-config/react"
    },
    {
      "files": ["service/test/**"],
      "extends": "plugin:playwright/playwright-test"
    }
  ],
  "rules": {
    "sort/imports": [
      "warn",
      {
        "groups": [
          { "type": "side-effect", "order": 1 },
          { "regex": "^[.~]+\\/", "order": 4 },
          { "type": "dependency", "order": 2 },
          { "type": "other", "order": 3 }
        ]
      }
    ]
  }
}
