{
  "extends": ["@mskelton", "@mskelton/eslint-config/typescript"],
  "overrides": [
    {
      "files": ["app/**"],
      "extends": "@mskelton/eslint-config/react"
    },
    {
      "files": ["service/test/**"],
      "extends": "plugin:playwright/playwright-test"
    }
  ]
}
