{
  "extends": ["@mskelton", "@mskelton/eslint-config/typescript"],
  "overrides": [
    {
      "files": ["frontend/**"],
      "extends": "@mskelton/eslint-config/react",
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": ["test/**"],
      "extends": "plugin:playwright/playwright-test"
    }
  ]
}
