# Yarn
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Remix
.cache/
app/tailwind.css
build/

# Environment
.env*
!.env.sample

# Misc
lib/
mocks/
tsconfig.tsbuildinfo
test-results/
